.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.nav_bar_container {
  height: 100px;
  position: fixed;
  z-index: 4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
}

nav {
  margin-right: 50.5px;
  margin-top: 37px;
}

nav ul li {
  list-style: none;
  float: left;
  padding: 0 18px;
}

nav ul li a {
  text-decoration: none;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 700;
  color: #2D5898;
  text-transform: uppercase;
  padding-bottom: 5px;
  background: linear-gradient(currentColor, currentColor) bottom/0 2px no-repeat;
  transition: 0.5s;
}

.navigate_bar p a:hover, nav ul li a:hover {
  text-decoration: none;
  background-size: 100% 2px;
  transition: 0.5s;
}

.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.contact_box {
  display: block;
  position: absolute;
  max-width: 304px;
  right: 61px;
  top: 193px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 4px;
}

.title_box {
  margin-left: 32px;
  font-family: Lato-Bold;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.57px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
}

.social p, .finances p, .co_organizer p, .co_organizer h1, .organizer p, .organizer h1, .place p, .place h1, .price p, .price h1, .date p, .date h1 {
  display: block;
  max-width: 80%;
  font-size: 16px;
  color: #030303;
  letter-spacing: 0;
  line-height: 22px;
}

.signup_contact {
  display: block;
  width: 80%;
  margin: 0 auto;
  background: #FFDA1A;
  border-radius: 100px;
  border-style: solid;
  border-color: #FFDA1A;
  transition: 0.5s;
}

.social {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  padding: 0;
}

.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.navigate_bar p a, .navigate_bar p {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
  background: linear-gradient(currentColor, currentColor) bottom/0 1px no-repeat;
  transition: 0.5s;
  margin-bottom: 0;
  line-height: 3px;
}

.title {
  font-family: Lato-Bold;
  font-size: 40px;
  color: #4990E2;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0%;
}

.article p, .article h1 {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.57px;
  line-height: 22px;
  width: 100%;
}

.event_title h1 {
  font-family: Lato-Light;
  font-size: 40px;
  color: #2D5898;
  letter-spacing: 1.43px;
  text-transform: uppercase;
}

.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.event_boxes {
  margin-top: 28px;
  margin: 0 auto;
  max-width: 932px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.event_box {
  display: flex;
  flex-direction: column;
  max-width: 304px;
  max-height: 304px;
  background: #FFDA1A;
  cursor: pointer;
  margin: 0 auto;
  flex: 0 0 30%;
}

.discription_box {
  display: block;
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 2;
  top: 60%;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  transition: 0.5s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.7) 100%);
}

.discription_box_search {
  display: block;
  width: 100%;
  height: 53%;
  position: absolute;
  z-index: 2;
  top: 47%;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  transition: 1s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 218, 26, 0.3) 15%, rgba(255, 218, 26, 0.7) 100%);
}

.discription_box_search img {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: -50px;
  margin-top: 0;
  margin-left: 26px;
  transition: 0.7s;
}

.date_container {
  display: block;
  margin-left: 28px;
  margin-top: 15px;
  margin-bottom: 5px;
  opacity: 0.8;
  font-family: Lato-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 23px;
}

.title_container_search, .title_container {
  display: block;
  padding-left: 28px;
  width: 273px;
  font-family: Lato-Bold;
  font-size: 25px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: -6%;
  margin-bottom: 5%;
  line-height: 25px;
}

.icons {
  margin-top: -5%;
  margin-left: 9%;
  float: left;
  display: block;
}

.icons span {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #FFDA1A;
}

.signup {
  position: absolute;
  display: block;
  bottom: 5%;
  right: 10%;
  width: 100px;
  height: 30px;
  float: right;
  background: #FFDA1A;
  border-style: solid;
  border-color: #FFDA1A;
  border-radius: 100px;
  font-family: Lato-Bold;
  font-size: 12px;
  color: #2D5898;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: none;
  opacity: 0;
}

.image_container img, .main_image img, .logo_container a img, .logo_container a {
  width: 100%;
  height: 100%;
}

.footer {
  display: block;
  background: #000000;
  height: 275px;
  padding-top: 21px;
  width: 100%;
  margin-top: 40px;
}

.footer_left ul li {
  text-decoration: none;
  margin-left: 69px;
}

.footer_right ul li, .footer_center_discription ul li a, .footer_center_discription ul li, .footer_left ul li a {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-transform: uppercase;
  background: linear-gradient(currentColor, currentColor) bottom/0 1px no-repeat;
  transition: 1s;
}

.footer_right ul li a:hover, .footer_center_discription ul li a:hover, .footer_left ul li a:hover {
  text-decoration: none;
  background-size: 100% 1px;
  transition: 1s;
  color: #FFFFFF;
}

#footer_right_discription {
  text-align: center;
  margin-top: 95px;
  font-family: Lato-Regular;
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: 0.5px;
}

.nav_small {
  display: none;
  width: 80%;
  float: right;
  margin-right: -50px;
  margin-top: 4%;
}

.menuIn {
  color: #d8232a;
  font-size: 40px;
  transition: 0.5s;
}

.nav_small ul li ul li a {
  display: block;
  margin-top: 1%;
  text-decoration: none;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 700;
  color: #2D5898;
  text-transform: uppercase;
  padding: 2px 0px;
  background: linear-gradient(currentColor, currentColor) bottom/0 2px no-repeat;
  transition: 0.5s;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #FFDA1A;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.3);
}

.nav_small ul li ul li a:hover {
  background: #FFDA1A;
  color: #d8232a;
  transition: 0.5s;
}

.sliders {
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  height: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #EBEBEB;
  padding-top: 0px;
  overflow: hidden;
  position: relative;
}

#slideImg {
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 3% 0px 0px 0px;
  position: relative;
  height: 100%;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

body {
  background: #FFFFFF;
  box-sizing: initial;
}

header {
  height: auto;
}

.logo_container {
  margin-top: 18px;
  margin-left: 50px;
  width: 124px;
  height: 65px;
}
@media only screen and (max-width: 991px) {
  .logo_container {
    margin-left: 10px;
    max-width: 120px;
    max-height: 60px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .logo_container {
    margin-left: 160px;
  }
}
@media only screen and (max-width: 575px) {
  .logo_container {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 991px) {
  .nav_bar_container {
    height: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .nav_small {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  .nav_small {
    margin-top: 9%;
  }
}
.nav_small ul {
  list-style: none;
  padding-left: 0;
}
.nav_small ul li {
  text-align: center;
}
.nav_small ul li:hover .menuIn {
  color: #FFDA1A;
  transition: 0.5s;
}
.nav_small ul li:hover > ul > li {
  display: block;
}
.nav_small ul li ul li {
  display: none;
}
@media only screen and (max-width: 991px) {
  nav {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
}
nav ul {
  float: right;
}
@media only screen and (max-width: 991px) {
  nav ul {
    margin-left: 3%;
  }
}
@media only screen and (max-width: 991px) {
  nav ul li {
    padding: 0 8px;
  }
}
.social_media {
  display: block;
  position: fixed;
  right: 0px;
  top: 20%;
  z-index: 3;
  background: #2D5898;
  width: 60px;
  height: 110px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media only screen and (max-width: 575px) {
  .social_media {
    right: 32%;
    top: 13%;
    width: 110px;
    height: 53px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
.social_media img {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.social_media img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

.main_container {
  max-width: 1310px;
  margin: 0 auto;
  padding-top: 100px;
}

.navigate_bar {
  margin-top: 28px;
}
@media only screen and (max-width: 767px) {
  .navigate_bar {
    margin-left: 3%;
  }
}
@media only screen and (max-width: 575px) {
  .navigate_bar p a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 39px;
  }
}
@media only screen and (max-width: 575px) {
  .title {
    font-size: 35px;
  }
}

.main_image {
  margin-top: 0;
  max-width: 932px;
  height: auto;
}
.article {
  width: 95%;
  margin-top: 44px;
  margin-left: 1%;
}
.article h1 {
  font-family: Lato-Bold;
  font-weight: 700;
}
.article p {
  font-family: Lato-Regular;
  margin-top: 22px;
  font-weight: 500;
}
.article p:last-child {
  margin-top: 44px;
}

@media only screen and (max-width: 1305px) {
  .contact_box {
    right: 8px;
  }
}
@media only screen and (max-width: 1245px) {
  .contact_box {
    max-width: 22%;
  }
}
@media only screen and (max-width: 991px) {
  .contact_box {
    max-width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .contact_box {
    display: block;
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 4px;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .title_box {
    text-align: center;
    font-size: 20px;
    margin-left: 0;
  }
}

.date {
  margin-top: 25px;
  margin-left: 32px;
}
@media only screen and (max-width: 767px) {
  .date {
    margin-left: 10%;
    margin-top: 20px;
    float: left;
    witch: 26%;
  }
}
.date h1 {
  font-family: Lato-Bold;
  margin: 0;
  font-weight: 700;
}
.date p {
  font-family: Lato-Regular;
  margin: 0;
}

.price {
  margin-top: 20px;
  margin-left: 32px;
}
@media only screen and (max-width: 767px) {
  .price {
    float: right;
    width: 25%;
    margin-bottom: 10%;
    margin-riht: 10%;
  }
}
.price h1 {
  font-family: Lato-Bold;
  margin: 0;
  font-weight: 700;
}
.price p {
  font-family: Lato-Regular;
  margin: 0;
}

.place {
  margin-top: 20px;
  width: 100%;
  margin-left: 32px;
}
@media only screen and (max-width: 767px) {
  .place {
    width: 64%;
    display: block;
    text-align: center;
    margin-top: 22%;
    margin-left: auto;
    margin-right: auto;
  }
}
.place h1 {
  font-family: Lato-Bold;
  margin: 0;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .place h1 {
    margin: 0 auto;
  }
}
.place p {
  font-family: Lato-Regular;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .place p {
    margin: 0 auto;
  }
}

.map {
  display: block;
  width: 102%;
  height: 169px;
  margin-top: 14px;
  margin-left: -1%;
  margin-bottom: 14px;
}
@media only screen and (max-width: 767px) {
  .map {
    margin-top: 3%;
    height: 35vw;
  }
}

.organizer {
  margin-left: 32px;
}
.organizer h1 {
  font-family: Lato-Bold;
  margin: 0;
  font-weight: 700;
}
.organizer p {
  font-family: Lato-Regular;
  margin: 0;
}

.co_organizer {
  margin-top: 20px;
  margin-left: 32px;
}
.co_organizer h1 {
  font-family: Lato-Bold;
  margin: 0;
  font-weight: 700;
}
.co_organizer p {
  font-family: Lato-Regular;
  margin: 0;
}

.finances {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 32px;
}
.finances p {
  font-family: Lato-Regular;
  margin: 0;
}

.signup_contact {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #2D5898;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 12px 0px;
  font-weight: 700;
  cursor: pointer;
}
.signup_contact:hover {
  transition: 0.5s;
  background: #FFFFFF;
}

.social p {
  font-family: Lato-Regular;
  margin: 0 auto;
  margin-bottom: 11px;
}
.social img {
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 29px;
}
.social img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

.event_title {
  margin-top: 76px;
}
@media only screen and (max-width: 991px) {
  .event_title {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .event_title h1 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 767px) {
  .event_box {
    max-width: 90%;
    height: auto;
    margin: 10px auto;
    flex: 0 0 52%;
  }
}
@media only screen and (max-width: 575px) {
  .event_box {
    height: 200vw;
  }
}
@media only screen and (max-width: 575px) {
  .event_box {
    flex: 0 0 89%;
  }
}
.event_box:hover .discription_box {
  height: 100%;
  top: 0;
}
.event_box:hover .discription_box_search img {
  margin-bottom: -50px;
  margin-top: 20%;
  margin-left: 30%;
  transition: 0.7s;
}
@media only screen and (max-width: 575px) {
  .event_box:hover .discription_box_search img {
    height: 70px;
    width: 70px;
  }
}
.event_box:hover .discription_box_search {
  height: 100%;
  top: 0;
}
.event_box:hover .title_container_search {
  margin-top: 60px;
  font-size: 28px;
  transition: 0.7s;
  width: 240px;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .discription_box {
    top: 0%;
    height: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .discription_box {
    top: 0%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .discription_box_search {
    top: 0;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .discription_box_search img {
    margin-bottom: -50px;
    margin-top: 20%;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 991px) {
  .date_container {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 991px) {
  .title_container {
    margin-left: 2%;
    padding: 0;
    font-size: 22px;
  }
}
.title_container p {
  margin-bottom: 0;
}

.title_container_search {
  margin-top: 60px;
  font-size: 29px;
}

@media only screen and (max-width: 991px) {
  .icons {
    margin-left: 4%;
  }
}
.box_discription {
  display: block;
  max-width: 80.7%;
  height: auto;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 991px) {
  .box_discription {
    max-width: 99%;
    margin-top: 12%;
  }
}
.box_discription p {
  font-family: Lato-Regular;
  line-height: 0px;
  font-size: 1vw;
  opacity: 0;
  color: #FFFFFF;
  letter-spacing: 0px;
  transition: 0.3s;
}
@media only screen and (max-width: 767px) {
  .box_discription p {
    opacity: 1;
    line-height: 20px;
    font-size: 16px;
  }
}

.event_box:hover .box_discription p {
  opacity: 1;
  line-height: 20px;
  font-size: 16px;
  transition: 0.3s;
}

.like_discription {
  position: absolute;
  display: block;
  width: 50px;
  height: 9%;
  left: 10%;
  bottom: 6%;
  float: left;
  opacity: 0;
  transition: 0.3s;
}
@media only screen and (max-width: 767px) {
  .like_discription {
    opacity: 1;
  }
}
.like_discription img {
  width: 24px;
}
.like_discription p {
  margin-top: 3%;
  margin-left: 0%;
  float: right;
  margin-right: 20%;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFDA1A;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 23px;
}

.event_box:hover .like_discription {
  opacity: 1;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .signup {
    height: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .signup {
    opacity: 1;
  }
}
.signup:hover {
  box-shadow: 0px 5px 9px rgba(3, 3, 3, 0.6);
  background: #FFFFFF;
  border-style: solid;
  border-color: #FFDA1A;
}

.event_box:hover .signup {
  opacity: 1;
  transition: 0.3s;
}

#slideImg ul {
  list-style: none;
  padding-left: 0px;
}
#slideImg li {
  float: left;
  margin: 0 10px;
}

.partners img {
  prosition: relative;
}

.rotate-prev {
  display: none;
}

@media only screen and (max-width: 991px) {
  .footer {
    height: 100%;
  }
}

.footer_left ul {
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .footer_left ul li {
    margin-left: 0;
  }
}
.footer_img {
  float: left;
  width: 26px;
  margin-right: 2%;
}

.footer_center_discription {
  display: block;
  width: 100%;
}
.footer_center_discription ul {
  list-style: none;
}
.footer_center_discription ul li {
  text-transform: none;
}
.footer_center_discription ul li:first-child {
  text-transform: uppercase;
}
.footer_center_discription ul li:nth-child(4) {
  margin-left: 9%;
}
.footer_center_discription ul li a {
  padding-left: 5px;
  text-transform: none;
}
@media only screen and (max-width: 767px) {
  .footer_right {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .footer_right {
    text-align: left;
  }
}
.footer_right ul {
  display: block;
  margin-left: 30%;
  list-style: none;
}
@media only screen and (max-width: 991px) {
  .footer_right ul {
    margin-left: 0%;
  }
}
.footer_right ul li {
  font-size: 16px;
}
.footer_right ul li a {
  color: #FFDA1A;
  text-decoration: none;
  text-transform: none;
  background: linear-gradient(currentColor, currentColor) bottom/0 1px no-repeat;
  transition: 1s;
}

/*# sourceMappingURL=style.css.map */
