@import 'variables';

%nav_bar{
  height:100px;
  position:fixed;
  z-index:4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  background:$main_background;
}
%nav {
	margin-right:50.5px;
	margin-top:37px;
}
%list {
	list-style:none;
	float:left;
	padding: 0 18px;
}
%link {
	text-decoration:none;
	font-family: Lato-Black;
	font-size:14px;
	font-weight:700;
	color:#2D5898;
	text-transform:uppercase;
	padding-bottom:5px;
	background: linear-gradient(currentColor, currentColor) bottom / 0 2px no-repeat;
	transition:0.5s;
}
%link_hover{
	text-decoration:none;
	background-size: 100% 2px;
	transition:0.5s;
}
